<launch>

  <arg name="contest" default="true" />

  <!-- load ROS parameter indicating whether PR2 is cvap or clearpath (with/without force-torque sensors) -->
  <param name="/contest" value="$(arg contest)"/>
  
  <!-- dropping height (of tool tip w.r.t odom_combined -->
  <param name="/dropping_height" value="0.255" />

  <!-- move_group -->
  <include file="$(find pr2_moveit_config)/launch/move_group.launch" if="$(arg contest)"/>
  <include file="$(find pr2_ft_moveit_config)/launch/move_group.launch" unless="$(arg contest)"/>

  <!-- load position dictionaries -->
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/left_arm_joint_pos_dict.yaml" />
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/right_arm_joint_pos_dict.yaml" />
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/torso_joint_pos_dict.yaml" />
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/base_pos_dict.yaml" />
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/head_joint_pos_dict.yaml" />

  <!-- order bin parameters -->
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/order_bin.yaml" />

  <!-- tool parameters -->
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/tool_size.yaml" />

  <!-- base move parameters -->
  <rosparam command="load" file="$(find amazon_challenge_motion)/config/base_move.yaml" />

  <!-- shelf collision model -->
  <node name="shelf_collision_planning_scene" pkg="amazon_challenge_motion" type="shelf_collision_planning_scene" output="screen" respawn="true">
    <param name="base_frame_id" value="/base_laser_link"/>
    <param name="shelf_frame_id" value="/shelf_frame"/>
    <param name="translation_tolerance" value="0.003"/>
    <param name="rotation_tolerance" value="0.016"/>
  </node>

  <!-- tool collision model -->

  <node name="tool_collision_planning_scene" pkg="amazon_challenge_motion" type="tool_collision_planning_scene" output="screen"/>


  <!-- order bin collision model -->
  <node name="order_bin_collision_planning_scene" pkg="amazon_challenge_motion" type="order_bin_collision_planning_scene" output="screen" respawn="true"/>

</launch>